<% if variant.assembly? %>
<ul class='assembly_parts'>
  <% variant.parts.each do |v| %>
  <li>(<%= variant.count_of(v) %>)  <%= link_to v.name, product_path(v.product) %>  (<%= v.sku %>)</li>
  <% end %>
</ul>
<% end %>
